<div class="auth-visual">
  <div class="auth-visual__overlay"></div>
  <img class="auth-visual__img" [src]="imageUrl" alt="NestHome" />
  <div class="auth-visual__content">
    <a class="auth-logo" routerLink="/">
      <div class="auth-logo__icon">
        <svg width="22" height="22" viewBox="0 0 28 28" fill="none"><path d="M14 3L3 12V25H10V17H18V25H25V12L14 3Z" fill="currentColor"/><circle cx="14" cy="14" r="3" fill="white" opacity="0.5"/></svg>
      </div>
      <span class="auth-logo__text">Nest<em>Home</em></span>
    </a>
    <blockquote class="auth-visual__quote">{{ quote }}</blockquote>
  </div>
</div>