# Base de données
DATABASE_URL=postgres://postgres:PASSWORD@localhost:5432/nesthome
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=PASSWORD
DB_DATABASE=nesthome

# Application
NODE_ENV=development
PORT=3000

# Better Auth
BETTER_AUTH_SECRET=<votre_secret_32_chars>
BETTER_AUTH_URL=http://localhost:3000
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:4200
FRONTEND_VERIFY_EMAIL_PATH=/verify-email
FRONTEND_RESET_PASSWORD_PATH=/reset-password
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Upload
MULTER_BASE_URL=http://localhost:3000

# Mailer SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=votre@gmail.com
SMTP_PASS=votre_app_password_16_chars
SMTP_FROM_NAME=NestHome
SMTP_FROM_EMAIL=no-reply@nesthome.tn
